header.page-header
    .container
        nav.page-header_navigation
            ul.page-header_navigation-list
                a(href='./index.html')
                    li.page-header_navigation-item Все котики
                a(href='./favorite.html')
                    li.page-header_navigation-item Любимые котики
                    